<% if resource.errors.any?%>
  <div id="error_explanation" style="width:30%;" class="text-justify bg-danger mb-1 font-weight-bold">
      <% resource.errors.full_messages.each do |message| %>
        <p class="text-white"><%= message %></p>
      <% end %>
  </div>
<% end %>
